<div class="off-b">
  <div data-section-id="{{ section.id }}" class="offerbnr container">
    <div class="row collectionItems">  
        {% if section.blocks.size > 0 %}  
        {% assign temp = 0 %}    
        {% for block in section.blocks %}
          {% if temp == 0 %}
          <div class="col-xs-12 col-sm-4 firtst-off">
            <div class="beffect">
              {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif%}
              {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.title }}" class="img-responsive center-block" />
              {% else %}
              {% comment %}{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}{% endcomment %}
              <img src="https://dummyimage.com/490x600/f8e0e0" class="img-responsive center-block" />
              {% endif%}           
              {% if block.settings.link != blank %}</a>{% endif%}  
            </div>
          </div>
        {% endif %}
        {% if temp == 1 %}
          <div class="col-xs-12 col-sm-8 last-off">
        {% endif %}
        {% if temp == 1 %}
          <div class="beffect">
              {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif%}
              {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.title }}" class="img-responsive center-block" />
              {% else %}
              {% comment %}{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}{% endcomment %}
              <img src="https://dummyimage.com/1010x285/f8e0e0" class="img-responsive center-block" />
              {% endif%}           
              {% if block.settings.link != blank %}</a>{% endif%}  
            </div>
        {% endif %}
        {% if temp == 2 %}
          <div class="row off-last">
        {% endif %}
        {% if temp == 2 or temp == 3 %}
          <div class="col-sm-6 col-xs-12">
            <div class="beffect">
                {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif%}
                {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.title }}" class="img-responsive center-block" />
                {% else %}
                {% comment %}{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}{% endcomment %}
                <img src="https://dummyimage.com/490x285/f8e0e0" class="img-responsive center-block" />
                {% endif%}           
                {% if block.settings.link != blank %}</a>{% endif%}  
              </div>
          </div>
        {% endif %}
        {% if temp == 3 %}
          </div>
        {% endif %}
        {% if temp == 3 %}
          </div>
        {% endif %}
        {% assign temp = temp | plus: 1 %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
"name": "Offer Banner",
"class": "index-section",
"max_blocks": 4,
"settings": [
],
 "blocks": [
    {
      "type": "Image",
      "name": "Offer Banner",
      "settings": [ 
 		    {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Size: 660x300"
        },
        {
        "type": "url",
        "id": "link",
        "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Offer Banner",
      "category": "Image",
      "blocks": [
        {
          "type": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
