<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 leftw"></div>
    <div class="slideright col-lg-10 col-md-9 col-sm-12 col-xs-12 rightw">
    <div data-section-id="{{ section.id }}">  
      <div class="grid-uniform collectionItems s-panel">
        <ul class="owl-slider">
          {% if section.blocks.size > 0 %}      
          {% for block in section.blocks %}
        <div class="sliderel">
          {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
          {% if block.settings.image != blank %}
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.title }}" />
          {% else %}
          {% comment %}{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}{% endcomment %}
          <img src="https://dummyimage.com/1230x470/000/fff" alt="{{ block.settings.title }}" />
          {% endif%}           
          {% if block.settings.link != blank %}</a>{% endif%}

        <div class="slidertext text-left">
            <div class="slideff">
              {% if block.settings.subtitle != blank %}
                <h3>{{ block.settings.subtitle | escape }}</h3>
              {% endif %}
              {% if block.settings.storytitle != blank %}
                <h2>{{ block.settings.storytitle | escape }}</h2>
              {% endif %}
              {% if block.settings.desc != blank %}
                <p>{{ block.settings.desc }}</p>
              {% endif %}
               {% if block.settings.linkurl != blank %}
                <a href="{{ block.settings.linkurl }}" class="btn btn-primary">{{ 'general.mobile.shopnow' | t }}</a>
              {% endif %}
        </div>
        </div>

          </div>

        {% endfor %}
        {% endif %}
          </ul>
      </div>
    </div>
    <div class="ser-ap"></div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.owl-slider').slick({
  dots: true,
  arrows: false,
  infinite: false,
  autoplay: false,
  autoplaySpeed: 2000,
  slidesToShow: 1,
  slidesToScroll: 1
});
 
  });
</script>
{% schema %}
{
"name": "Slideshow",
"class": "index-section",
"settings": [
],
 "blocks": [
    {
      "type": "Image",
      "name": "Slideshow",
      "settings": [ 
      {
      "type": "text",
      "id": "subtitle",
      "label": "Sub Heading"
      },
      {
      "type": "text",
      "id": "storytitle",
      "label": "Heading"
      },
      {
      "type": "richtext",
      "id": "desc",
      "label": "Description"
      },
      {
      "type": "url",
      "id": "linkurl",
      "label": "Link URL"
      },
 		    {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Size: 1920x900"
        },
        {
        "type": "url",
        "id": "link",
        "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "category": "Image",
      "blocks": [
        {
          "type": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
